.inline-code {
    background-color: #eee;
    padding-left: 2px;
    padding-right: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: #ddd;
}

pre {
    background-color: #eee;
    padding-left: 2px;
    padding-right: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: #ddd;
}

blockquote {
    color: #666;
    padding-left: 10px;
    border-left-style: solid;
    border-left-color: #aaa;
    border-left-width: 4px;
}
